{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            Лучшие курсы на stepik'e
        {% endblock %}
    </title>

    <meta
            name="description"
            content="{% block description %}Независимый каталог лучших курсов на stepik по программированию, тестированию и другим IT-направлениям.{% endblock %}"
    >

    {% block robots %}
        <meta name="robots" content="index, follow">
    {% endblock %}

    {% block canonical %}{% endblock %}

    <link
            rel="stylesheet"
            href="{% static 'css/styles.css' %}"
    >
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>

<body>
{% include "header.html" %}
{% block content %}
{% endblock %}
{% include "footer.html" %}
</body>
</html>
